body {
  color: white;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.carouselExampleCaptions {
  height: 400px;
  width: 100%;
  z-index: 20px;
  margin-bottom: 1200px;
}
.carousel-inner > .carousel-item active > img {
  position: absolute;
  height: 400px;
  min-width: 100%;
  top: 0;
  left: 0;
}
.teammember {
  top: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-display: black;
}
.colourfont,
.h1color {
  margin-top: 5px;
  color: black;
}
.team,
.col-lg-4 {
  text-align: center;
}
.team h2 {
  color: rgba(50, 50, 50, 0.8);
}
.team p {
  margin-left: 10px;
  margin-right: 10px;
}
.team a {
  margin-bottom: 10px;
}
.divider {
  margin: 40 0;
}
.container-fluid {
  background-color: #fff9f5;
  margin-top: 20px;
}
.col-md-7 white {
  background-color: white;
}
.h1colorcontent {
  margin: 30 auto;
  padding-top: 20px;
  padding-left: 240px;
  padding-right: 60px;
  padding-bottom: 20px;
}
.makeupdetails {
  top: 0;
  bottom: 0;
}
.white {
  text-align: center;
  padding-top: 80px;
  font-family: sans-serif;
}
.content {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 50px;

  height: 170px;
}
